/* :root can be useful for declaring global CSS variables: in this case we are defining almost all repititive colors depending on the screen size & location of use*/
:root{
  --laptop-background: #9cdbf8;
  --laptop-nav-foot: #63c6f3;
  --laptop-section-background: #85c8e7;
  --laptop-select-font: rgb(10, 94, 250);
  --tablet-background: rgb(176, 193, 240);
  --tablet-nav-foot: rgb(155, 178, 243);
  --tablet-section-background: rgb(214, 223, 250);
  --tablet-select-font: rgb(53, 50, 243);
  --cellphone-background: rgb(154, 243, 236);
  --cellphone-nav-foot: rgb(104, 219, 228);
  --cellphone-section-background: rgb(209, 252, 248);
  --cellphone-select-font:  rgb(12, 121, 12);
  --text-color: rgb(48, 47, 47);
}

/* Universal Selector for commonly set attributes*/
* {
  box-sizing: border-box;
  font-family: "Audiowide", "Sofia", sans-serif;
  text-decoration: none;
}
/* Element Selectors */
header {
  margin: 0;
  padding: 10px;
  text-align: center;
  background: var(--laptop-background);
  color: var(--text-color);
}
nav {
  display: flex;
  background-color: var(--laptop-nav-foot);
  text-align: center;
 /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px dashed var(--laptop-select-font);
  border-bottom: 1px dotted var(--laptop-select-font);
}
nav a {
  color:var(--laptop-select-font);
  padding: 14px 20px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

h5{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10.5px;
}
h2, h4{
  text-align: center;
}
body {
  margin: 0;
}
aside {
  flex: 0 0 25%;
  background-color: var(--laptop-background);
  flex-wrap: wrap;
  text-align: center;
  padding: 50px;
}
main {
  display: flex;
  background-color: var(--laptop-nav-foot);
}
section {
  float: left;
  background: var(--laptop-section-background);
  padding: 10px;
}
strong{
  text-decoration: underline;
}
footer {
  padding: 10px;
  text-align: center;
  background: var(--laptop-nav-foot);
  color: var(--text-color);
  display: inline-block;
  width: 100%;
  border-top: 1px dashed var(--laptop-select-font);
}
footer img{
  border-radius: 25px;
  padding: 3px;
  display: inline-block;
 /* all aligned for aesthetic viewing */
  align-items: baseline;
  width: 10%;
}

img:hover{
  border: 1.1px double rgb(58, 57, 57);
}

/* ID Selector(s) */
#home-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  border: 3px dotted #6d6d6c;
  border-radius: 25px;
  padding: 2px;
  width: 75px;
}
/* Project Snippets*/
#Preview_Projects{
  flex: 1 0 55%;
  flex-wrap: wrap;
  background-color: rgba(245, 240, 220, 0.479);
  justify-content: space-around;
  align-items:flex-start;
 /* Custom css border: https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='lightgrey' stroke-width='6' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='74' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 30px;
}

#Preview_Projects p {
  text-align: center;
  font-size: 10px;
  color: rgb(10, 94, 250);

}
/* Scroll to the top / Scroll to the bottom quick links*/
#myBtn {
  position: fixed;
 /* Fixed/sticky position */
  bottom: 0;
 /* Place the button at the bottom of the page */
  right: 0;
 /* Place the button to the right */
  border: dotted 2px;
 /* Remove borders */
  outline: rgb(94, 93, 93);
 /* Remove outline */
  color: rgb(22, 22, 22);
 /* Text color */
  cursor: pointer;
 /* Add a mouse pointer on hover */
  padding: 10px;
 /* Some padding */
  border-radius: 15px;
 /* Rounded corners */
  font-size: 10px;
 /* Increase font size */
}
#myBtn:hover {
  background-color: rgb(129, 127, 127);
 /* Add a dark-grey background on hover */
}
/* Class Selectors */

/* Dropdown Section in Nav Projects */
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  border: 0.5px dotted var(--laptop-section-background);
  border-radius: 30px;
}
/* The container - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  justify-content:center;
  background-color: var(--laptop-background);
  opacity: 0.85;
  min-width: 200px;
  z-index:2;
}
/* Links inside the dropdown */
.dropdown-content a {
  font-size: 24px;
  color: rgb(10, 94, 250);
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color:rgb(250, 228, 216);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color:lightyellow;
}

.Projects header{
  border-radius: 50px 50px 0px 0px;
}
/* Referenced this to setup image thumbnails: https://stackoverflow.com/questions/11604792/hover-preview-with-css-instead-of-js/11604813 */
.Projects{
 /* spacing between the cards */
  margin: 20px;
  border-style: double;
  border-width: 4px;
  border-color: var(--laptop-nav-foot);
  text-align: center;
  text-decoration: underline;
  background-color: rgb(250, 247, 216);
  flex: 0 0 250px;
  flex-direction: row;
 /* arranges the items form left top right onwards */
  align-items: center;
  position: relative;
 /* this set the project cards to be on a back plane so as to allow overlay to pop up as the most prominent layer in the front Ref: https://stackoverflow.com/questions/15782078/bring-element-to-front-using-css*/
  z-index: auto;
}
.me:hover, .Projects:hover{
 /* Upon hover, background color changes from lemony yellow to peachy */
  background-color: rgb(250, 228, 216);
  z-index: 30;
  transform: scale(1.5);
}
#VMworld iframe:hover, #Acclaim img:hover {
  transform: scale(1.3);
  border: 1.5px dashed var(--laptop-nav-foot);
  left: 300px;
  z-index: 20;
}
/* CSS for enlarged image */
.Projects span{
  position: absolute;
  background-color: lightyellow;
  padding: 3px;
  left: -100px;
  border: 1.5px dashed var(--laptop-nav-foot);
  visibility: hidden;
  transform: rotate(3deg);
}
.Projects span img{
  max-width: 300px;
  max-height: 500px;
  padding: 4px;
}
/* CSS for enlarged image on hover */
.Projects:hover span{
  visibility: visible;
  bottom: -15px;
 /* position of enlarged image's offset horizontally */
  left: 170px;
}
.me{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
  border: 5px dashed;
  border-image: 30 round;
  border-color: var(--laptop-nav-foot);
}
/* company logo formatting */
.google{
  width:90px;
  height:50px;
}
.rubrik{
  width:110px;
  height:50px;
}
.brightness:hover {
  opacity: 0.50;
}
.google:hover, .rubrik:hover{
  transform: scale(0.7);
}
/* vmware text formatting */
.link:visited {
  color: rgb(152, 3, 100);
}
.link:hover {
  color: rgb(90, 88, 89);
}
.link:active {
  color: rgb(0, 97, 17);
}

/* Media Queries for Resonsive UI */
/* Tablets - header nav footer changes color */
@media screen and (max-width: 992px) {
  header, aside, .dropdown-content {
      background: var(--tablet-background);
      order: 1;
 }
  nav, footer, main {
      background-color: var(--tablet-nav-foot);
      flex-direction: column;
      order: 2;
      border-top: 1px dashed var(--tablet-select-font);
      border-bottom: 1px dotted var(--tablet-select-font);
 }
  h2 span, nav a, .dropdown-content a, #Preview_Projects p {
      color: var(--tablet-select-font) !important;
 }
  .me, .Projects{
      border-color: var(--tablet-nav-foot);
      flex-direction: column;
 }
  .Projects span{
      border: 5px dashed var(--tablet-nav-foot);
      border-radius: 20px;
 }
  section{
      background: var(--tablet-section-background);
 }
  .dropbtn{
      border: 0.5px dotted var(--tablet-section-background);
 }
  #VMworld iframe:hover, #Acclaim img:hover{
      border: 1.5px dashed var(--tablet-nav-foot);
 }

 /* Cellphones - header navbar footer changes color */
  @media screen and (max-width: 768px) {
      header,aside, .dropdown-content {
          background: var(--cellphone-background);
     }
      aside{
          order: 0;
     }
      .Projects{
          order: 2;
          transform: scale(0.9);
          transform: skew(-2deg, -3deg);
     }
      nav,footer,main {
          background-color: var(--cellphone-nav-foot);
          flex-direction: column;
          order: 1;
          border-top: 1px dashed var(--cellphone-select-font);
      border-bottom: 1px dotted var(--cellphone-select-font);
     }
      h2 span, nav a, .dropdown-content a, #Preview_Projects p {
          color: var(--cellphone-select-font) !important;
     }
      .me, .Projects{
          border-color: var(--cellphone-nav-foot);
     }
      .Projects span{
          border: 5px dashed var(--cellphone-nav-foot) 
     }
      section{
          background: var(--cellphone-section-background);
     }
      .dropbtn{
          border: 0.5px dotted var(--cellphone-section-background);
     }
      #VMworld iframe:hover, #Acclaim img:hover{
          border: 1.5px dashed var(--cellphone-nav-foot);
     } 
  }
}