section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;

  /* TODO: Add a margin property */
  margin: 16px 16px 16px 16px;
  /* TODO: Add a padding property */
  padding: 23px 23px 23px 23px; 
  /* TODO: Add a border property */
  border: 10px solid darkblue; 

  /* justify-content: space-around;
  margin: 16px 16px 16px 16px;
  padding: 23px 23px 23px 23px;
  border: 10px solid darkblue; */