:root{
  --laptop-background: #edc0f3;
  --laptop-nav-foot: #d994e0;
  --tablet-background: rgb(176, 193, 240);
  --tablet-nav-foot: rgb(155, 178, 243);
  --cellphone-background: rgb(154, 243, 236);
  --cellphone-nav-foot: rgb(116, 236, 245);
  --text-color: rgb(48, 47, 47);
}
* {
  box-sizing: border-box;
  font-family: "Audiowide", "Sofia", sans-serif;
  text-decoration: none;

}

#home-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  border: 3px dotted #6d6d6c;
  border-radius: 25px;
  padding: 2px;
  width: 75px;
}

header {
  margin: 0;
  padding: 10px;
  text-align: center;
  background: var(--laptop-background);
  color: var(--text-color);
}

h5{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12.5px;
}


nav {
  display: flex;
  background-color: var(--laptop-nav-foot);
  text-align: center;
  justify-content: space-around;
  
}
nav a {
  color: rgb(171, 4, 248);
  padding: 14px 20px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;

}

body {
  margin: 0;
}

main {
  display: flex;
}

aside {
  flex: 30%;
  background-color: var(--laptop-background);
  padding: 10px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  height: 200%;
}

strong{
  text-decoration: underline;
}

.me{
  width:200px;
  height:200px;
  object-fit:cover;
  border-radius:50%;
  border: 5px dashed;
  border-image: 30 round;
  border-color: var(--laptop-nav-foot);
}

.google{
  width:70px;
  height:50x;
  object-fit:scale-down;
}

.rubrik{
  width:70px;
  height:50x;
  object-fit:scale-down;
}

.brightness:hover {
  opacity: 0.50; }

.link:visited {
  color: rgb(252, 13, 200);
}
.link:hover {
  color: rgb(90, 88, 89);
}
.link:active {
  color: rgb(0, 97, 17);
}

section {
  flex: 70%;
  background-color: #fff;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  background: var(--laptop-nav-foot);
  color: var(--text-color);
  display: inline-block;
  width: 100%;
}

footer img{
  border-radius: 25px;
  padding: 3px;
  display: inline-block;
  width: 10%;
}

img:hover{
  border: 0.9px dotted rgb(58, 57, 57);
}

/* Image Placeholders */
.sample-img {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

/* Scroll to the top / Scroll to the bottom quick links*/

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 0; /* Place the button at the bottom of the page */
  right: 0; /* Place the button to the right */
  border: dotted 2px; /* Remove borders */
  outline: rgb(94, 93, 93); /* Remove outline */
  color: rgb(22, 22, 22); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
}
#myBtn:hover {
  background-color: rgb(129, 127, 127); /* Add a dark-grey background on hover */
}


/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header nav footer changes color */
@media screen and (max-width: 992px) {
  header, aside {
    background: var(--tablet-background);
  }
  nav, footer {
    background-color: var(--tablet-nav-foot);
  }
  h2 span, nav a {
    color: rgb(19, 15, 240) !important;
  }
  .me{
    border-color: var(--tablet-nav-foot);
  }
}

/* Cellphones - header navbar footer changes color */
@media screen and (max-width: 768px) {
  header,aside {
    background: var(--cellphone-background);
  }
  nav,footer {
    background-color: var(--cellphone-nav-foot);
  }

  h2 span, nav a {
    color: rgb(4, 100, 4) !important;
  }
  .me{
    border-color: var(--cellphone-nav-foot);
  }
}

